@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-nature: nature, Arial, sans-serif;
  --animate-scale-up: scaleUp 1s linear infinite;

  @keyframes scaleUp {
    20% {
      transform: scaleY(1.5);
      background-color: grey;
    }

    40% {
      transform: scaleY(1);
    }
  }
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  background: white;
  color: #000;
  scroll-behavior: smooth;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #000000 #f1f1f1;
}

*::selection {
  background-color: #000;
  color: #ffff;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.remove-scroll {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.remove-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* @font-face {
    font-family: "gravis";
    src: url("/assets/gravis.woff2") format("woff2"),
         url("/assets/gravis.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */

@font-face {
  font-family: "nature";
  src: url("/assets/nature.woff2") format("woff2"),
    url("/assets/nature.woff") format("woff"),
    url("/assets/nature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.prose {
  max-width: none;
}

.prose strong {
  font-weight: 500;
}

.prose {
  * {
    @apply leading-tight
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-1 font-semibold
  }

  ol,
  ul {
    @apply m-0
  }

  p {
    margin-block: 7px;
  }

  hr {
    margin-block: 20px;
  }
}

.prose a:has(img) {
  @apply relative block aspect-5/3 max-w-md mx-auto overflow-hidden rounded-lg border bg-black md:ml-52 my-3;
}

.prose a img {
  @apply w-full h-full object-contain object-center transition-transform duration-300 hover:scale-102 m-0;
}

.prose code:not(pre > code) {
  background-color: #fafafa;
  color: #d6006b;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
}

.prose pre {
  scrollbar-width: none;
  -ms-overflow-style: none;
  @apply md:ml-52 whitespace-pre min-w-auto max-w-112.5 h-auto md:text-lg my-2 p-0;

  code {
    background: transparent;
  }
}

.prose pre::-webkit-scrollbar,
.prose pre code::-webkit-scrollbar {
  display: none !important;
  scrollbar-width: none !important;
}

.prose code:not(pre > code)::before,
.prose code:not(pre > code)::after {
  content: none;
}